*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-family: Baskervville, serif;
    color: linen;
    background-color: rgb(20, 30, 40);
  }