html {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

#navbar {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
}

li a:hover {
  background-color: black;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid;
  background-color: #fff;
  background-image: linear-gradient(45deg, #222 0%, #555 100%);
}

#welcome-section h1 {
  font-size: 4.75rem;
  font-weight: 700;
  color: white;
}

#welcome-section p {
  margin-top: -50px;
  color: red;
  font-size: 1.75rem;
  font-style: italic;
}

#projects {
  background-color: rgb(26, 106, 132);
  padding: 2rem;
  text-align: center;
}

#projects h2 {
  font-size: 3rem;
  color: white;
  margin: 0 auto;
}
.project-image {
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 9px 9px 0 0;
}

.project-tile {
  color: white;
  font-size: 1.5rem;
  background-color: grey;
  padding: 1rem;
  margin: -0.25rem auto;
  border-radius: 0 0 9px 9px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  grid-gap: 0;
  margin: 0 auto;
}
